:root {
	--width: 300px;
	--heigth: 300px;
}

html {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.container {
	width: var(--width);
	height: var(--heigth);
	display: grid;
	background-color:rgb(218, 214, 209);
	color: rgb(5, 3, 0);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: calc(var(--heigth) / 6);
	grid-template-columns: calc(var (--width) / 4);
	border-radius: 5px;
	border:transparent;
	padding:0;
}

div {
	padding: 0.5rem;
	border: 1px rgba(7, 45, 92, 0.762) solid;
}

.res {
	grid-column: span 4;
	text-align: right;
	background-color: rgba(32, 48, 69, 0.762);
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-size: 24px;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero,
.dot,
.ac {
	grid-row: span 1;
}

.equ {
	grid-row: span 4;
	grid-column: span 1;
	background-color: rgba(255, 92, 92, 0.796);
}

.plus,
.min,
.mult,
.div {
	background-color: rgb(192, 208, 220);
	color: black;
}

.container .res {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.container .zero {
	border-bottom-left-radius: 5px;
}

.container .equ {
	border-bottom-right-radius: 5px;
}

.container .plus,
.container .seven,
.container .four,
.container .one,
.container .zero {
	border-left: none;
}


.container .div,
.container .equ,
.container .res {
	border-right: none;
}

.container .zero,
.container .dot,
.container .equ,
.container .ac {
	border-bottom: none;
}

.container > div:not(.res) {
	display: flex;
	justify-content: center;
	align-items: center;
	
}